#heading{
    font-weight: bold;
    font-size: 24px;
    color:white;
    margin-top: 5px;
}

.form{
    width:65%;
    padding-top: 50px;
    margin: auto;
    height:100px;
}
#fetchBox{
    width:47%;
    display: flex;
}




#main_heading_add{
    text-align: center;
    font-family: calibri;
    font-size: 60px;
    font-weight: bold;
    color:grey;
    margin-top: 30px;
}

#empId{
    text-align: center;
    width:300px;
    margin-left:30%;
    margin-bottom: 20px;
}
#empId>input{
    text-align: center;
    margin-bottom: 20px;
}
#empId>form>button{
    margin-top: 20px;
}




#id_input{
    display:flex;
    width:47%;
    margin-bottom: -14%;
}

.super_view{
    color:blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

#table{
    width:100%;
    padding-bottom: 40px;
}

#warning{
    color:red;
    font-size: 13px;
}

@media screen and (max-width: 950px){
    #overHeading{
        font-size: 25px;
    }
    #fetchBox{
        width:100%;
        display: flex;
    }
    #table{
        width:50%;
        margin:auto;
        font-size: 12px;
        margin-top: 30px;
    }

    .form{
        width:80%;
    }
}